.bookitem{
    margin: 1rem;
    text-align: center;
    display: inline-block;
}

.bookitem img{
    position: relative;
    height: 12rem;
}

.bookcard {
    height: fit-content;
    width: fit-content;
}


