.book-item{
    margin: 1rem;
    text-align: center;
    display: block;
    flex-flow: row;
}

.book-item img{
    position: relative;
    height: 12rem;
    width: auto;
}

.book-card {
    height: fit-content;
    width: fit-content;
}


