.bookitem{
    margin: 1rem;
    text-align: center;
    display: block;
    flex-flow: row;
}

.bookitem img{
    position: relative;
    height: 12rem;
    width: auto;
}

.bookcard {
    height: fit-content;
    width: fit-content;
}


